.Main {

  display: flex;
  flex-direction: column;
  /* align-items: center; */



}

.Main .Collection {

  height: auto;
  display: flex;
  padding-bottom: 30px;
  flex-direction: row;
  justify-content: center;

}

.Main .Collection .Container {

  width: 500px;

}

.Main .Collection .Header2 {


  color: #bbb;
  /* font-weight: 100; */
  align-content: flex-start;
  margin-left: 35px;

}

.Main .Collection .Box {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Main .Box1,
.Box2,
.Box3,
.Box4 {
  background-color: rgb(240, 230, 230);
  height: 150px;
  width: 200px;
  margin: 15px;
  /* box-sizing: border-box; */

}



.Main svg {

  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  fill: grey;
}

.Main svg:hover {
  fill: #B6D249;
}


.Main svg:active {
  fill: #B6D249;
}

.Main svg:focus {
  fill: #B6D249;
}



.Main .Lorem1,
.Lorem2 {

  height: 150px;
  width: 200px;
  margin: 15px;
  font-weight: 300;

}


.Main .SectionLion,
.SectionLionSecond {

  background-color: gray;
  height: 150px;
  width: 200px;
  margin: 15px;
}



.Main .SliderCarousel {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Main .Image {
  width: 1000px;
  height: 300px;
  border-radius: 10px;
}

.Main .RightArrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.Main .LeftArrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}



.Main .Button {
height: 20px;
  position: relative;
  left: 55%;
  margin-top: 15px;
  font-size: 10px;
  border: none;
  border-radius: 5%;
}

.Main .Button:active {
  background-color: #B6D249;
}

.Main .Button:hover {
  background-color: #B6D249;
  color:white;
}

.Main .Button:focus {
  background-color: #B6D249;
}

.Main .Button:visited {
  background-color: #B6D249;
}

.Main h3 {
  color: rgb(180, 159, 159);
  font-weight: unset;
  margin-top: unset;


}

.Main .ReadBox {

  padding: none;
}

.Main .Carousel {

  width: 100%;
  height: 350px;
  background-color: white;
}

.Main .CarouselInner {

  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}



.Main .CarouselInner .Center {

  flex: 90%;
  height: 100%;
  text-align: center;
  padding-top: 300px;

}

.Main .CarouselInner h3 {

  display: none;

}

.Main .CarouselInner .Center .Dot {

  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.Main .CarouselInner .Center .Dot:hover {
  background-color: #717171;
}


.Main .CarouselInner .Left {

  display: none;
}

.Main .CarouselInner .Right {
  display: none;
}


@media screen and (max-width:480px){

  .Main .Collection .Header2 {


   
    margin-left: 125px;
  
  }
}

@media screen and (max-width:320px) {

  .Main .CarouselInner .Center {


    display: none;

  }

  .Main .CarouselInner {

    height: 80%;


  }

  .Main .Collection .Header2 {


   
    margin-left: 50px;
  
  }

  .Main .CarouselInner h3 {

    font-weight: 550;
    display: flex;
    color: rgb(180, 159, 159);
    font-size: 15px;
    flex: 90%;
    text-align: center;
    padding-top: 300px;

  }


  .Main .CarouselInner .Left {

    flex: 5%;
    /* height: 100%; */
    /* background-color: rgb(0, 0, 0, 0.1); */
    display: flex;
    place-items: center;
    cursor: pointer;
    color: white;
    padding-top: 320px;
  }

  .Main .CarouselInner .Right {

    flex: 5%;
    /* height: 100%; */
    /* background-color: rgb(0, 0, 0, 0.1); */
    display: flex;
    place-items: center;
    color: white;
    cursor: pointer;
    padding-top: 320px;
  }
/* 
  .Main .Line{
    padding-top: 350px;
  } */



}

