.Footer {
    background-color: rgb(212, 205, 205);
    height:80px;
    width:100%;
    /* z-index:999; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.Footer .FooterBox{
    background-color: rgb(212, 205, 205);
    height:80px;
    width:100%; 
    display: flex;
    justify-content: center;
}


.Footer ul {
list-style: none;
margin:10px;

}

.Footer .Links{
    margin:20px;
}


.Footer a {

    text-decoration:none;
    color: rgb(92, 86, 86);
    
    }

.Footer span {

    display: none;
 }

 .Footer ul li {

    display: inline-block;
    margin:10px;
   
  
}

.Footer svg:hover{
    fill:greenyellow;
}

.Footer .Left{
position: absolute;
left: 5px;
height: 80px;

}

.Footer .Right{
    position: absolute;
    right: 5px;
    height: 80px;
}
.Footer .Round{

    background-color: aliceblue;
    border-radius: 50%;
    padding: 8px;
}


.Footer .Left img:hover{
 fill:blue;
}

@media screen and (max-width:480px){

    .Footer .FooterLinks{
        display: none;
    }
        
  .Footer top{

    position: absolute;
    right:5%;
  }

}






